input {
  background-color: rgba(255,255,255, 0.2);
  border-radius: 5px;
  font-size:2em;
  color:#fff;
  border:none;
}

h2{color:#fff;}

/*forcing white placeholder*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #fff !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #fff !important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #fff !important;
}


.tags {
  display:flex;
  flex-wrap: wrap;
  height: 10%;
  padding-left: 20px;
}
.tag {
  font-family: 'helvetica';
    cursor: default;
    font-size: 1.6rem;
    height: 1.9rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0px;
    margin-right: 6px;
    padding: 3px;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
    color: rgba(0,0,0,.8);
    background: #1988e0;
    background: var(--accentColor,#1988e0);
    background-image: linear-gradient(90deg,hsla(0,0%,100%,.9) 0,hsla(0,0%,100%,.9));
}
